__pycache__/
.vscode/
.idea/
.venv/
.pytest_cache/
.ruff_cache/
*.py[cod]
*.log
*.sqlite3
*.sqlite3-*
data/
.env
config.local.yaml
database.local.yaml

*.egg-info/
build/
dist/
.verify-client/
.verify-server/
